* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*font-family: 'Open Sans', sans-serif;*/
}

.call-today {
    height: 30px;
    background-color: rgb(0, 154, 220);
    display: flex;
    justify-content: center;
    /*border-bottom-style: solid;*/
    /*border-bottom-width: 1px;*/
    /*border-bottom-color: black;*/
}

.call-today-text {
    font-size: 20px;
    font-weight: 600;
    align-self: center;
    margin-top: 3px;
}

.background-image {
    background-image: url("../../assets/HOME-IMAGE-2.jpg");
    background-size: cover;
    width: 100%;
    height: 800px;
}

.background-image-mobile {
    background-image: url("../../assets/HOME-IMAGE-2.jpg");
    background-position-x: -200px;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/*.mask {*/
/*    background-color: rgba(0, 0, 0, 0.32);*/
/*    height: 100%;*/
/*}*/

.welcome-header {
    color: white;
    font-size: 30px;
}

.welcome-body {
    color: white;
    font-size: 30px;
    font-weight: 00;
}

.welcome-container {
    margin-left: 146px;
    padding-top: 181px;
}

.welcome-buttons {
    margin-left: 146px;
    padding-top: 10px;;
}

.offerings-container {
    margin-top: 100px;
}

.offerings-container-mobile {
    display: none;
}

.general-header {
    font-size: 30px;
    text-align: center;
    color: rgb(31, 49, 59, 100);
}

.general-header-white {
    font-size: 30px;
    text-align: center;
    color: white;
}

.white-header {
    font-size: 30px;
    text-align: center;
    color: white;
}

.offerings-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 55px;
}

.rodent-control-container {
    margin-top: 100px;
}

.rodent-control-container-mobile {
    display: none;
    margin-top: 100px;
}

.rodent-control-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 45px;
}

.pest-control-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 45px;
}

.benefits-container {
    /*height: 400px;*/
    background-color: rgb(0, 154, 220);
    border-radius: 18px;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.horizontal-line {
    height: 7px;
    width: 40%;
    background-color: rgb(31, 49, 59, 100);
    display: flex;
    justify-content: center;
    border-radius: 2px;
}

.align-center {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.benefits-container-mobile {
    height: 610px;
    background-color: rgb(0, 154, 220);
    border-radius: 18px;
    margin-top: 100px;
    padding-top: 10px;
    display: none;
}

.side-header {
    position: absolute;
    transform: rotate(-90deg);
    font-size: 35px;
    margin-top: 160px;
    margin-left: -50px;
    color: white;
}

.margining-side {
    margin-left: 8%;
}

.vertical-break-point {
    background-color: black;
    height: 8px;
    width: 120px;
}

.benefits-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 35px;
}

.line {
    border-left: 10px solid black;
    height: 200px;
    position: absolute;
    margin-left: 90px;
    margin-top: 90px;
}

.exclusion-container {
    margin-top: 100px;
}

.exclusion-container-mobile {
    margin-top: 100px;
    display: none;
}

.exclusion-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 45px;
}

.contact-form {

}

.quote-container {
    margin-top: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 154, 220);
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    height: 325px;
}

.quote-container-mobile {
    margin-top: 125px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 154, 220);
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    height: 325px;
    display: none;
}

.quote-button {
    margin-top: 50px;
}

.swiper-element {
    margin-top: 35px;
    height: 330px;
}

.swiper-element-service {
    margin-top: 55px;
    height: 285px;
}

.swiper-element-process {
    margin-top: 20px;
    height: 450px;
}

.swiper-element-tall {
    margin-top: 20px;
    height: 350px;
}

.swiper-element-review {
    margin-top: 55px;
    height: 375px;

}

.service-button-style {
    border-color: transparent;
    height: 40px;
    width: 200px;
    background-color: rgb(0, 154, 220);
    border-radius: 30px;
}

.free-quote-button-style {
    border-color: transparent;
    height: 40px;
    width: 200px;
    background-color: white;
    border-radius: 30px;
}

.pest-control-button-style {
    border-color: transparent;
    height: 40px;
    width: 200px;
    background-color: rgb(31, 49, 59, 70%);
    border-radius: 30px;
}

.service-button-style:hover {
    background-color: rgb(0, 154, 220, 90%);
}

.pest-control-button-style:hover {
    background-color: rgb(31, 49, 59, 50%);
}

.service-button-text {
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.free-quote-button-text {
    color: rgb(31, 49, 59, 100);
    font-size: 18px;
    font-weight: 600;
}

.button-container-service {
    margin-top: 55px;
    display: flex;
    justify-content: center;
}

.button-container-services {
    margin-top: 85px;
    display: flex;
    justify-content: center;
}

.button-container-pest-control {
    margin-top: 55px;
    display: flex;
    justify-content: center;
}

.review-container {
    margin-top: 100px;
    /*background-color: red;*/
    padding-top: 50px;
    padding-bottom: 50px;
}

.review-container-mobile {
    margin-top: 100px;
    /*background-color: red;*/
    padding-top: 50px;
    padding-bottom: 50px;
    display: none;
}

.test-test {
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 1325px) {
    .side-header {
        position: absolute;
        transform: rotate(360deg);
        font-size: 35px;
        margin-top: 10px;
        margin-left: 35%;
        color: white;
    }

    .line {
        border-left: 0px solid black;
        border-bottom: 10px solid black;
        width: 200px;
        position: absolute;
        margin-left: 35.5%;
        margin-top: -110px;
    }

    .benefits-container {
        height: 400px;
        background-color: rgb(0, 154, 220);
        border-radius: 18px;
        margin-top: 100px;
    }

    .benefits-elements {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 3%;
        padding-top: 130px;
    }

    .header-text-side {
        text-align: center;

    }

}


@media screen and (max-width: 960px) {
    .background-image {
        display: none;
    }

    .background-image-mobile {
        display: revert;
    }

    .offerings-container {
        /*display: none;*/
    }

    .offerings-container-mobile {
        margin-top: 100px;
        display: revert;
    }

    .offerings-elements-mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 25px;
    }

    .rodent-control-container {
        display: none;
    }

    .rodent-control-container-mobile {
        display: revert;
    }

    .general-header-mobile {
        font-size: 25px;
        text-align: center;
        color: rgb(31, 49, 59, 100);
    }

    .benefits-container-mobile {
        display: revert;
    }

    .benefits-container {
        display: none;
    }

    .benefits-elements-mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 30px;
    }

    .exclusion-container {
        display: none
    }

    .exclusion-container-mobile {
        display: revert;
    }

    .quote-container {
        display: none;
    }

    .quote-container-mobile {
        display: flex;
    }

    .white-header-mobile {
        font-size: 25px;
        text-align: center;
        color: white;
    }

    .pest-control-header {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5%;
    }

    .quote-button-mobile {
        margin-top: 50px;
    }

    .welcome-header {
        color: white;
        font-size: 23px;
        margin-left: 0px;
        text-align: center;
    }

    .welcome-body {
        color: white;
        font-size: 23px;
        text-align: center;
        margin-top: 20px;
    }

    .welcome-container {
        margin-left: 0px;
        padding-top: 181px;
    }

    .welcome-buttons {
        justify-content: center;
        margin-left: 0px;
        padding-top: 30px;
        display: flex;
    }

    .service-button-style {
        display: revert;
    }

    .review-container {
        display: none;
    }

    .review-container-mobile {
        display: revert;
    }

    .test-test {
        margin-left: 0px;
    }

    .swiper-element-review {
        height: 470px;
    }

    .horizontal-line {
        width: 70%;
    }

    .button-container-service {
        margin-top: 30px;
    }

    .swiper-element-service {
        margin-top: 55px;
        height: 290px;
    }

    .free-quote-button-style {
        display: revert;
    }
}