.align-center-type {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.service-button-type {
    border-style: solid;
    border-width: 2.5px;
    border-color: rgb(93, 113,122, 10%);
    background-color: rgb(239, 238, 234);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
    border-radius: 18px;
}

.service-button-type:hover {
    border-color: rgb(54, 54, 54, 50%);

}

.circle-container-pest {
    width: 200px;
    height: 200px;
    border-radius: 167px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(93, 113,122, 10%);
}

.circle-element-general-pest {
    width: 196px;
    height: 196px;
    border-radius: 167px;
    /*box-shadow: 0px 2px 10px 1px black;*/
}

@media screen and (max-width: 960px) {
    .service-button-type {
        display: revert;
        color: rgb(54, 54, 54);
        border-color: rgb(93, 113,122, 10%);

    }

    .service-button-type:hover {
        border-color: rgb(93, 113,122, 10%);
    }

    .circle-container-pest {
        border-color: black;
    }

    .service-button-type {
        border-style: solid;
        border-width: 1.75px;
        border-color: black;
        background-color: revert;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 4px;
        border-radius: 18px;
    }

    .service-button-type:hover {
        border-color: rgb(54, 54, 54, 50%);

    }
}